# 核心依赖
paddlepaddle-gpu>=3.0.0
paddleformers>=0.1.0

# 数据生成与处理
Pillow>=10.0.0
numpy>=1.24.0
tqdm>=4.65.0

# 评估
python-Levenshtein>=0.25.0

# 可选加速
triton==3.6.0
use-triton-in-paddle==0.1.0

# 可视化
visualdl>=2.5.0
